@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #0a1828;
  color: white;
  margin-left: 3rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0a1b3e;
  margin-bottom: 10rem;
}
.vertical-line {
  width: 2px;
  height: 2.5rem;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
}

li a {
  text-decoration: none;
  color: white;
}
li a:hover {
  color: blue;
}
.innovation {
  font-weight: bold;
  font-size: 5rem;
  color: white;
  line-height: 4.5rem;
  padding-top: 1.5rem;
}
.video-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
video {
  margin-right: 2rem;
  border: none;
}
.future-section {
}
#building {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
h1 {
  margin-bottom: 0.5rem;
}
form {
  justify-content: flex;
  justify-content: center;
  margin-bottom: 10rem;
  align-items: center;

}
#h1 {
  font-size: 4rem;
  margin-top: 10rem;
  margin-bottom: 0.5rem;
}
#newsletter-p {
  font-size: 2rem;
  margin-bottom: 10rem;
}


label {
  margin-bottom: 0.5rem;
  display: block;
}
input {
  width: 50rem;
  height: 3rem;
  margin-bottom: 1rem;
}
.footer-div {
  display: flex;
  justify-content: space-around;
  

}
.second-footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
#ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}